{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName  = 'mailsystem-letter-grid' %}
{% set pageTitle = 'mailsystem.letter.entity_plural_label'|trans %}


{% block navButtons %}
    {% if resource_granted('mailsystem_letter_create') %}
        <div class="btn-group">
            {{ UI.addButton({
            'path' : path('mailsystem_letter_create'),
            'entity_label': 'mailsystem.letter.entity_label'|trans,
            }) }}
        </div>
    {% endif %}
{% endblock %}
