@name = maillist_create
@entityName = Mailsystem\Bundle\MaillistBundle\Entity\Maillist
@subject = Maillist {{ entity.name }} created at {{ entity.createdAt|date('F j, Y, g:i A') }}
@isSystem = 1
@isEditable = 0

<h1>Created Maillist</h1>
<p>
    Name : {{ entity.name }}
</p>
<p>
    Description : {{ entity.description }}
</p>

