{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set subject = entity.subject %}
{% oro_title_set({ params : {"%request.subject%": subject} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('mailsystem_letter_template_index'),
    'indexLabel': 'mailsystem.lettertemplate.entity_plural_label'|trans,
    'entityTitle': name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('mailsystem_letter_template_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('mailsystem_letter_template_delete', {'id': entity.id}),
            'dataRedirect': path('mailsystem_letter_template_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-mailsystem-letter-template-form',
            'dataId': entity.id,
            'entity_label': 'mailsystem.lettertemplate.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {{ UI.button({'path' : path('mailsystem_letter_template_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}

    {% if resource_granted('mailsystem_letter_template_update') %}
        {{ UI.editButton({
            'path': path('mailsystem_letter_template_update', {'id': entity.id}),
            'entity_label': 'mailsystem.lettertemplate.entity_label'|trans,
        }) }}
    {% endif %}

{% endblock %}

{% block content_data %}
    {% set dataBlocks = [
    {
    'title': 'General'|trans,
    'class': 'active',
    'subblocks': [
    {'data': [
    ui.renderHtmlProperty('mailsystem.lettertemplate.name.label'|trans, entity.name),
    ui.renderHtmlProperty('mailsystem.lettertemplate.body.label'|trans, entity.body)
    ]}
    ]
    }
    ] %}

    {% set id = 'mailsystemLetterTemplateFormView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock %}
